################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoApp/.vs/TodoApp/FileContentIndex/1b06bdcd-b63b-498b-b0db-66f27167eb3d.vsidx
/TodoApp/.vs/TodoApp/FileContentIndex/587f869b-be5b-45ff-8174-9da73633911d.vsidx
